html {
  overflow-x: hidden;
  overflow-y: overlay;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0px;
}

h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
}

#logo {
  text-align: center;
  padding-top: 30px;
}
#logo img {
  height: 50px;
}
@media (max-width: 568px) {
  #logo {
    padding-top: 60px;
  }
}

#arrow-container {
  position: relative;
  animation: arrow 1.5s infinite ease-in-out;
  text-align: center;
  height: 60px;
}
#arrow-container #arrow {
  position: relative;
  z-index: 2000;
  height: 40px;
  width: auto;
  cursor: pointer;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes arrow {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
header {
  background: white;
  width: 100%;
}

nav {
  position: fixed;
  z-index: 100;
}
@media (max-width: 991px) {
  nav .menu {
    padding-left: 20px;
  }
}

li {
  text-align: center;
  display: inline-block;
  font-weight: 400;
  width: 50px;
  position: relative;
  text-decoration: none;
  color: black;
}
li a {
  color: black;
  text-decoration: none;
}
li span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  width: 0px;
  height: 1.5px;
  background: black;
  transition: all 0.5s ease-in-out;
}

.one a:hover {
  font-weight: 600;
}
.one a:hover span {
  width: 50px;
}

.two span {
  width: 10px;
}

.second a:hover {
  font-weight: 600;
}
.second a:hover span {
  width: 50px;
}

.first span {
  width: 10px;
}

.parallax-bg-container {
  margin-top: 70px;
  margin-bottom: 70px;
}
.parallax-bg-container .background1 {
  background-image: url("../img/ocean.jpg");
}
.parallax-bg-container .background2 {
  background-image: url("../img/forest.jpg");
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .parallax-bg-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.parallax-bg-container .parallax-bg {
  background-size: contain;
  background-position: center bottom;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 66%;
  margin-left: 17%;
  background-attachment: fixed;
}
@media (max-width: 1300px) {
  .parallax-bg-container .parallax-bg {
    width: 100%;
    margin-left: 0%;
    background-attachment: inherit;
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .parallax-bg-container .parallax-bg {
    padding: 100px 20px;
  }
}

.section-title {
  padding-top: 30px;
  position: relative;
}
.section-title span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  width: 120px;
  height: 1px;
  background: black;
}

.container-bars {
  padding-top: 70px;
}

.container-bars-inner {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.container-bars-inner ul {
  margin-left: -40px;
  margin: 0 auto;
  padding-left: 0;
}
.container-bars-inner li {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.container-bars-inner li p {
  float: left;
  margin-left: 50px;
  margin-top: 10px;
}
@media (max-width: 400px) {
  .container-bars-inner li p {
    margin-left: 40px;
  }
}
@media (max-width: 400px) {
  .container-bars-inner li {
    width: 300px;
  }
}

.bar {
  opacity: 1;
  width: 300px;
  height: 6px;
  background: #bfc6bc;
  margin-left: 50px;
  transition: all 1.5s;
}
@media (max-width: 400px) {
  .bar {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.bar-inner {
  margin-left: 50px;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 250;
  height: 6px;
  background: #e51c55;
}
@media (max-width: 400px) {
  .bar-inner {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.other {
  text-align: center;
}

.projects-container {
  margin-top: 200px;
  margin-bottom: 100px;
  overflow: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.link:hover,
.link {
  cursor: url(../img/cross.png), auto;
}

.projects-container {
  margin-top: 70px;
}
.projects-container .project-title {
  font-weight: 400;
  margin-top: 8px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1300px) {
  .projects-container .project-title {
    display: none;
  }
}
.projects-container .title-enzymatica {
  margin-left: 30%;
}
.projects-container .title-coldzyme {
  margin-left: 58.5%;
}
.projects-container .title-recipes {
  margin-left: 29%;
}
.projects-container .title-react_app {
  margin-left: 61.5%;
}
.projects-container .title-graphics {
  margin-left: 57%;
}
.projects-container .title-opta-tech {
  margin-left: 33%;
}
.projects-container .title-smile {
  margin-left: 55%;
}
.projects-container .title-poland-travel {
  margin-left: 27%;
}
.projects-container .title-zeeko {
  margin-left: 58%;
}
.projects-container .title-wola {
  margin-left: 33%;
}

.wrapper-enzymatica {
  transition: all 1s;
  width: 23%;
  overflow: hidden;
  margin-left: 22%;
}
@media (max-width: 1300px) {
  .wrapper-enzymatica {
    width: 30%;
  }
}
@media (max-width: 850px) {
  .wrapper-enzymatica {
    width: 38%;
  }
}
@media (max-width: 650px) {
  .wrapper-enzymatica {
    width: 55%;
    margin-top: 10%;
    margin-left: 20%;
  }
}
@media (max-width: 450px) {
  .wrapper-enzymatica {
    width: 75%;
    margin-top: 15%;
    margin-left: 15%;
  }
}

.wrapper-coldzyme {
  transition: all 1s;
  width: 23%;
  overflow: hidden;
  margin-left: 50%;
  margin-top: -7%;
}
@media (max-width: 1300px) {
  .wrapper-coldzyme {
    width: 30%;
    margin-top: 8%;
  }
}
@media (max-width: 850px) {
  .wrapper-coldzyme {
    width: 38%;
  }
}
@media (max-width: 650px) {
  .wrapper-coldzyme {
    width: 55%;
    margin-top: 10%;
    margin-left: 30%;
  }
}
@media (max-width: 450px) {
  .wrapper-coldzyme {
    width: 75%;
    margin-top: 15%;
    margin-left: 20%;
  }
}

.wrapper-recipes {
  transition: all 1s;
  width: 20%;
  overflow: hidden;
  margin-left: 24%;
  margin-top: -5%;
}
@media (max-width: 1300px) {
  .wrapper-recipes {
    width: 30%;
    margin-top: -17%;
    margin-left: 18%;
  }
}
@media (max-width: 850px) {
  .wrapper-recipes {
    width: 35%;
    margin-top: -17%;
    margin-left: 15%;
  }
}
@media (max-width: 650px) {
  .wrapper-recipes {
    width: 60%;
    margin-top: 10%;
    margin-left: 18%;
  }
}
@media (max-width: 450px) {
  .wrapper-recipes {
    width: 70%;
    margin-top: 15%;
    margin-left: 18%;
  }
}

.wrapper-react_app {
  transition: all 1s;
  width: 20%;
  overflow: hidden;
  margin-left: 57%;
  margin-top: -8%;
}
@media (max-width: 1300px) {
  .wrapper-react_app {
    width: 30%;
  }
}
@media (max-width: 850px) {
  .wrapper-react_app {
    width: 38%;
  }
}
@media (max-width: 650px) {
  .wrapper-react_app {
    width: 55%;
    margin-top: 10%;
    margin-left: 20%;
  }
}
@media (max-width: 450px) {
  .wrapper-react_app {
    width: 75%;
    margin-top: 15%;
    margin-left: 15%;
  }
}

.wrapper-graphics {
  transition: all 1s;
  width: 20%;
  overflow: hidden;
  margin-left: 52%;
  margin-top: -3%;
}
@media (max-width: 1300px) {
  .wrapper-graphics {
    width: 30%;
    margin-top: 8%;
  }
}
@media (max-width: 850px) {
  .wrapper-graphics {
    width: 38%;
  }
}
@media (max-width: 650px) {
  .wrapper-graphics {
    width: 55%;
    margin-top: 10%;
    margin-left: 30%;
  }
}
@media (max-width: 450px) {
  .wrapper-graphics {
    width: 75%;
    margin-top: 15%;
    margin-left: 20%;
  }
}

.wrapper-opta-tech {
  transition: all 1s;
  width: 15%;
  overflow: hidden;
  margin-left: 28%;
  margin-top: -10%;
}
@media (max-width: 1300px) {
  .wrapper-opta-tech {
    width: 25%;
    margin-top: -15%;
    margin-left: 17%;
  }
}
@media (max-width: 850px) {
  .wrapper-opta-tech {
    width: 30%;
    margin-top: -20%;
    margin-left: 12%;
  }
}
@media (max-width: 650px) {
  .wrapper-opta-tech {
    width: 45%;
    margin-top: 10%;
    margin-left: 23%;
  }
}
@media (max-width: 450px) {
  .wrapper-opta-tech {
    width: 60%;
    margin-top: 15%;
    margin-left: 13%;
  }
}

.wrapper-poland-travel {
  transition: all 1s;
  width: 25%;
  overflow: hidden;
  margin-left: 20%;
  margin-top: -10%;
}
@media (max-width: 1300px) {
  .wrapper-poland-travel {
    width: 31%;
    margin-top: -2%;
    margin-left: 10%;
  }
}
@media (max-width: 850px) {
  .wrapper-poland-travel {
    width: 35%;
    margin-top: -2%;
    margin-left: 8%;
  }
}
@media (max-width: 650px) {
  .wrapper-poland-travel {
    width: 60%;
    margin-top: 10%;
    margin-left: 8%;
  }
}
@media (max-width: 450px) {
  .wrapper-poland-travel {
    width: 80%;
    margin-top: 15%;
    margin-left: 8%;
  }
}

.wrapper-zeeko {
  transition: all 1s;
  width: 22%;
  overflow: hidden;
  margin-left: 52%;
}
@media (max-width: 1300px) {
  .wrapper-zeeko {
    width: 30%;
    margin-left: 15%;
  }
}
@media (max-width: 850px) {
  .wrapper-zeeko {
    width: 38%;
    margin-left: 8%;
  }
}
@media (max-width: 650px) {
  .wrapper-zeeko {
    width: 55%;
    margin-left: 12%;
  }
}
@media (max-width: 450px) {
  .wrapper-zeeko {
    width: 75%;
    margin-left: 8%;
  }
}

.wrapper-wola {
  transition: all 1s;
  width: 22%;
  overflow: hidden;
  margin-left: 25.5%;
  margin-top: -11%;
}
@media (max-width: 1300px) {
  .wrapper-wola {
    width: 30%;
    margin-top: -17%;
    margin-left: 18%;
  }
}
@media (max-width: 850px) {
  .wrapper-wola {
    width: 35%;
    margin-top: -17%;
    margin-left: 15%;
  }
}
@media (max-width: 650px) {
  .wrapper-wola {
    width: 60%;
    margin-top: 10%;
    margin-left: 18%;
  }
}
@media (max-width: 450px) {
  .wrapper-wola {
    width: 70%;
    margin-top: 15%;
    margin-left: 18%;
  }
}

.wrapper-enzymatica:hover + .title-enzymatica {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-coldzyme:hover + .title-coldzyme {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-recipes:hover + .title-recipes {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-zeeko:hover + .title-zeeko {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-graphics:hover + .title-graphics {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-opta-tech:hover + .title-opta-tech {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-smile:hover + .title-smile {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-poland-travel:hover + .title-poland-travel {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-stop:hover + .title-stop {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-wola:hover + .title-wola {
  opacity: 0;
  transform: translateY(-20px);
}

.wrapper-react_app:hover + .title-react_app {
  opacity: 0;
  transform: translateY(-20px);
}

.caption {
  position: relative;
  -webkit-backface-visibility: hidden;
}
.caption img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.2s ease-in-out;
}
.caption::after {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 14px;
  z-index: 1;
  transition: all 700ms ease;
  text-align: center;
  content: attr(data-description);
  background: rgba(63, 127, 123, 0.5);
  top: 1%;
  padding: 20px;
  padding-top: 37%;
  transform: translateY(100%);
}
@media (max-width: 1300px) {
  .caption::after {
    transform: translateY(0%);
  }
}
.caption::before {
  position: absolute;
  width: 100%;
  height: 50%;
  color: #000;
  z-index: 5;
  transition: all 700ms ease;
  content: attr(data-title);
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  padding-top: 21%;
  transform: translateY(-100%);
}
@media (max-width: 1300px) {
  .caption::before {
    transform: translateY(0%);
  }
}
.caption:hover::before, .caption:hover::after {
  transform: translateY(0%);
}

.enzymatica::after {
  color: #fff;
  background: rgba(26, 74, 206, 0.3);
  padding-top: 32%;
}
.enzymatica::before {
  color: #fff;
  padding-top: 17%;
}

.coldzyme::after {
  color: #fff;
  background: rgba(227, 13, 21, 0.4);
  padding-top: 32%;
}
.coldzyme::before {
  color: #fff;
  padding-top: 17%;
}

.recipes::after {
  color: #fff;
  background: rgba(159, 92, 5, 0.4);
  padding-top: 41%;
}
.recipes::before {
  color: #fff;
  padding-top: 26%;
}

.zeeko::after {
  color: #fff;
}
.zeeko::before {
  color: #fff;
}

.graphics::after {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.graphics::before {
  color: #fff;
}

.opta-tech::after {
  color: #fff;
  background: rgba(25, 59, 107, 0.4);
  padding-top: 75%;
}
.opta-tech::before {
  color: #fff;
  padding-top: 50%;
}

.poland-travel::after {
  color: white;
  background: rgba(96, 206, 234, 0.5);
  padding-top: 25%;
}
.poland-travel::before {
  color: white;
  padding-top: 12%;
  transform: translateY(-130%);
}
@media (max-width: 1300px) {
  .poland-travel::before {
    transform: translateY(0%);
  }
}

.wola::after {
  color: #fff;
  background: rgba(229, 28, 85, 0.3);
  padding-top: 35%;
}
.wola::before {
  color: #fff;
  padding-top: 18%;
  transform: translateY(-130%);
}
@media (max-width: 1300px) {
  .wola::before {
    transform: translateY(0%);
  }
}

.react_app {
  width: 90%;
}
.react_app::after {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
  padding-top: 53%;
}
.react_app::before {
  color: #fff;
  padding-top: 36%;
  transform: translateY(-130%);
}
@media (max-width: 1300px) {
  .react_app::before {
    transform: translateY(0%);
  }
}

.hidden {
  transform: translateX(-100px);
}

.hidden_right {
  transform: translateX(100px);
}

.push-left {
  animation-name: push-left;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes push-left {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
.push-right {
  animation-name: push-right;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes push-right {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
.my-photo {
  display: inline-block;
  width: 20%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 90px;
}
.my-photo img {
  width: 100%;
}
@media (max-width: 1370px) {
  .my-photo {
    width: 25%;
  }
}
@media (max-width: 1150px) {
  .my-photo {
    width: 30%;
    margin-left: 15%;
  }
}
@media (max-width: 991px) {
  .my-photo {
    width: 350px;
    margin-left: 10%;
  }
}
@media (max-width: 768px) {
  .my-photo {
    display: block;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
  }
}

.about-text {
  position: absolute;
  width: 30%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
}
.about-text strong {
  font-size: 20px;
}
.about-text a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 0.4s;
}
.about-text a:hover {
  color: #e51c55;
}
.about-text p {
  margin-top: 0;
  margin-bottom: 5px;
}
.about-text .social {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .about-text {
    width: 50%;
    margin-left: 25%;
  }
}
@media (max-width: 568px) {
  .about-text {
    width: 80%;
    margin-left: 10%;
    display: block;
  }
}

footer {
  display: block;
  width: 66%;
  margin-left: 17%;
  text-align: center;
  border-top: 1px solid black;
  padding: 20px 0 25px;
}
footer p {
  margin: 0;
  display: inline-block;
  font-size: 12px;
}
@media (max-width: 568px) {
  footer {
    width: 80%;
    margin-left: 10%;
  }
}

.footer-about {
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  .footer-about {
    margin-top: 400px;
  }
}

.push-top {
  animation-name: push-top;
  animation-duration: 3s;
  animation-timing-function: ease;
}

@keyframes push-top {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
